html, body {
    padding: 0px;
    margin: 0px;
    font-family: "Lato";
    color: #fff;
    background-color: #201547;
    letter-spacing: 1.5px;
}

.cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

#navbar {
    position: fixed;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 45px;
    padding-left: 65px;
    padding-right: 65px;
}

#navbar-left, #navbar-right {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 48%;
}

#navbar-right { text-align: right; }

#db-icon {
    position: relative;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    background-image: url("pics/database.png");
}

#app-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

#app-author {
    font-size: 18px;
}

.action {
    position: relative;
    font-size: 20px;
    margin-right: 8px;
    letter-spacing: 4px;
    cursor: pointer;
}

#signout-text {
    position: relative;
    margin-right: 5px;
    letter-spacing: 5px;
    font-size: 18px;
}

#signout { 
    margin-left: 35px;
    cursor: pointer;
}

#signout-icon {
    position: relative;
    height: 12.5px;
    width: 25px;
    background-image: url("pics/arrow.png");
}

#row_selected {
    position: relative;
    font-size: 18px;
    margin-right: 45px;
    text-transform: uppercase;
}

#crud-container {
    position: relative;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding-top: 275px;
}

#crud-title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 12px;
    text-align: center;
}

#no-records {
    position: relative;
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
}

#welcome-tab {
    position: relative;
    left: 50%;
    margin-top: 45px;
    transform: translateX(-50%);
}

.information {
    position: relative;
    box-sizing: border-box;
    height: fit-content;
    width: fit-content;
    max-width: 425px;
    padding: 20px;
    background-color: #551183;
    border: 0.2em solid #4a0a75;
    border-style: dashed;
    border-radius: 10px;
}

.information-icon {
    position: relative;
    height: 30px;
    width: 30px;
    background-image: url("pics/info_icon.png");
    margin-bottom: 8px;
}

.information-title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.information-txt {
    position: relative;
    font-family: "Roboto";
    font-size: 15px;
    letter-spacing: 1px;
}

#table {
    position: relative;
    min-width: 100%;
    margin-top: 35px;
    border-collapse: collapse;
}

#table tr td {
    background-color: rgb(29, 13, 87);
    padding: 10px;
    font-family: "Roboto";
}

#table tr th {
    padding: 15px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #170f33;
    letter-spacing: 2px;
}

#table tr:hover td {
    background-color: #3d2591;
}

.th-row {
    position: sticky;
}

.odd { background-color: #1e0185; }